[Unit]
Description=Stable-diffusion WebUI
After=network.target nss-lookup.target

[Service]
User=ubuntu
Type=forking
ExecStart=/home/ubuntu/stable-diffusion-webui/admin/startup.sh start 2
ExecReload=/home/ubuntu/stable-diffusion-webui/admin/startup.sh restart 2
ExecStop=/home/ubuntu/stable-diffusion-webui/admin/startup.sh stop 2
Restart=on-abnormal
TimeoutStopSec=5
KillMode=mixed

[Install]
WantedBy=multi-user.target